p {
    color: #7a7a7a;
    text-align: center;
    font-family: arial;
    font-size: 100%;
    padding: 6%;
}
h3{
    color: black;
    text-align: center;
    font-family:'Montserrat', sans-serif;;
    font-size: 100%;
    padding: 4%;
    
}

footer {
    width: 100%;
    padding: 50px 0px;
    background-color: rgb(245, 199, 245); 
}; 
}

.container__footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
}

.box__footer {
display: flex;
flex-direction: column;
padding: 20px;
font-family:'Montserrat', sans-serif;;


}

.box__footer .logo img{
    width: 200px;
}
.box__footer .terms {
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color: #7a7a7a;
    font-size: 18px;
    font-family:'Montserrat', sans-serif;;

}
.box__footer h4{
    margin-bottom: 50px;
    color: #3a3939;
    font-weight: 700;
    font-family:'Montserrat', sans-serif;;

}
.box__footer a{
    margin-top: 10px;
    color: #7a7a7a;
    font-weight: 600;
}
.box__footer a:hover {
    opacity: 0.8 ;
}

.box__footer a .fab {
    font-size: 20px;
}


h4 {
    color: #7a7a7a;
    font-family:'Montserrat', sans-serif;;
    font-size: 100%;

}
ul{
    color: #7a7a7a;
    font-family:'Montserrat', sans-serif;;
    font-size: 100%;
}
li {
    color: #7a7a7a ;
    font-family:'Montserrat', sans-serif;;
    font-size: 100%;
}
