.main {
    padding: 20px;
 }
 .main-title {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 0 0 2px #ffa7f9;
    margin: 35px;
 }
 .container_products {
   display: grid;
   grid-template-columns: repeat(1, 1fr);
   grid-gap: 20px 10px;
 }
 .product {
    border: 1px dashed #ffbffb;
    padding: 10px;
    text-align: center;
    position: relative;
    transition: transform .3s;
 }
 .product:hover {
    box-shadow: 0 5px 10px 0 gray;
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.1); 
 }
 .product_img {
    height: auto;
    opacity: 0.7;
 }
 .product_title {
    text-align: center;
    text-shadow: 0 0 2px white;
    position:absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 14px;
    color: rgb(63, 63, 63);
    font-family: 'Montserrat', sans-serif;
 }
 /*para tablet 768*/
 /*para web 1024*/
 @media screen and (min-width:1024px) {
    .container {
       width: 1000px;
       margin: auto;
    }
    .container_products {
       grid-template-columns: repeat(4, 1fr);
       grid-gap: 10px;
    }
    .product_title {
       font-size: 20px
    }
 }
 
 
 .sabor_title {
    text-align: center;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 0 0 2px #ffa7f9;
    padding: 10px;
    margin-top: 60px;
 }
 .container_sabores {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1200px;
    margin: auto;
    background-color: #ffbffb;
    border: 1px dashed white;
 }
 .container_sabores:hover {
    background-color: #ffa7f9;
    box-shadow: 0 5px 10px 0 black;
 }
 .box_sabores {
    display: flex;
    flex-direction: column;
    padding: 25px;
    font-family:'Montserrat', sans-serif;
    font-size: 16px;
 }
 
 
 .sucursal_title {
    text-align: center;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 0 0 2px #ffa7f9;
    padding: 10px;
    margin-top: 60px;
 }
 .group:before,.group:after{content:"";display:table}.group:after{clear:both}.group{zoom:1}
 .one-third {float:left;margin-left:2.564102564102564%;margin-bottom:2.564102564102564%;}
 .one-third{width:31.623931623931625%}
 ul {
   width: 80%;
   margin: 1.25em auto;
   padding: 0;
   list-style: none;
 }
 ul li {
   padding: 0;
   text-align: center;
   background-size: cover;
 }
 ul li.one-third:first-of-type,
 ul li.one-third:nth-of-type(3n + 1) {
   clear: both;
   margin-left: 0;
 }
 ul li a {
   display: block;
   text-decoration: none;
   color: #000;
   background-color: #ffbffb;
   border: 1px dashed white;
 }
 ul li a:hover {
   background-color: #ffa7f9;
   box-shadow: 0 5px 10px 0 black;
 }
 ul li h2 {
   margin: 0;
   padding: 5% 0;
   font-weight: normal;
   font-size: 18px;
   color: rgb(0, 0, 0);
   text-shadow: 0 0 5px white ;
   font-family: 'Montserrat', sans-serif;
 }
 
 @media all and (max-width: 600px) {
   ul li.one-third:first-of-type,
   ul li.one-third:nth-of-type(3n + 1) {
     clear: both;
     margin-left: 0;
   }
   li.one-third {
     width:48.717948717948715%
   }
   ul li.one-third:nth-of-type(3n + 1) {
     clear: none;
     margin-left: 2.564102564102564%;
   }
   ul li.one-third:nth-of-type(2n + 1) {
     clear: both;
     margin-left: 0;
   }
 }
 @media all and (max-width: 480px) {
   li.one-third {
     width:100%;
   }
   ul li.one-third:nth-of-type(2n + 1) {
     clear: none;
     margin-left: 2.564102564102564%;
   }
 }